/**
 * author: Thomas Lien Christensen, s165242
 */

#iconRow {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 46px;
}

.frown {
    color: var(--text-danger-color);
}

.meh {
    color: var(--text-warning-color);
}

.grin {
    color: var(--text-success-color);
}