/**
 * author: Thomas Lien Christensen, s165242
 */

#iconRow {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 46px;
}

.frown {
    color: #ce5a57
}

.meh {
    color: #FFDF45
}

.grin {
    color: #A4D1A2
}