<!--
    author: Hadi Horani, s144885
-->
<h1>Users</h1>
<div class="container">
    <p>Select the user you want to change the role for or delete</p>

    <input nbInput matInput fullWidth (keyup)="applyFilter($event.target.value)" placeholder="Filter" id="userSearch">
    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="image">
            <th class="header" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user">
                <img class="profileImage" src="data:image/png;base64,{{user.profileImage}}">
            </td>
        </ng-container>
        <ng-container matColumnDef="userID">
            <th class="header" mat-header-cell *matHeaderCellDef>
                User ID
            </th>
            <th mat-header-cell *matHeaderCellDef> User ID</th>
            <td mat-cell *matCellDef="let user"> {{user.studentId}} </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
            <th class="header" mat-header-cell *matHeaderCellDef>
                Full Name
            </th>
            <th mat-header-cell *matHeaderCellDef>User Role</th>
            <td mat-cell *matCellDef="let user"> {{user.fullName}} </td>
        </ng-container>
        <ng-container matColumnDef="userRole">
            <th class="header" mat-header-cell *matHeaderCellDef>
                Roles
            </th>
            <th mat-header-cell *matHeaderCellDef>User Role</th>
            <td mat-cell *matCellDef="let user"> {{getUserRoles(user)}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let user" class="action-link">
                <button nbButton outline (click)="toggleDisplay()">Edit</button> |
                <button nbButton outline status="danger" *ngIf="currentUser.studentId != user.studentId" (click)="confirmDeletion(user)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="setClickedRow(i)">
        </tr>


    </table>

    <div *ngIf="isShow" id="userAdminRolePicker">
        <p>Choose the new role</p>
        <nb-select placeholder="Select a role" [(selected)]="selectedRole">
            <nb-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</nb-option>
        </nb-select>
        <button nbButton outline status="success" type="button" (click)="saveNewRole()" *ngIf="selectedRole != null">Save</button> {{selectedRow}} {{selectedUserId}}
    </div>
</div>