<!--
    author: Hadi Horani, s144885
-->
<h1>Users</h1>
<div class="container">
        <p>Select the user you want to change the role for or delete</p>

        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="userID">
                        <th class="header" mat-header-cell *matHeaderCellDef>
                                User ID
                        </th>
                        <th mat-header-cell *matHeaderCellDef> User ID</th>
                        <td mat-cell *matCellDef="let user"> {{user.studentId}} </td>
                </ng-container>
                <ng-container matColumnDef="fullName">
                        <th class="header" mat-header-cell *matHeaderCellDef>
                                Full Name
                        </th>
                        <th mat-header-cell *matHeaderCellDef>User Role</th>
                        <td mat-cell *matCellDef="let user"> {{user.fullName}} </td>
                </ng-container>
                <ng-container matColumnDef="userRole">
                        <th class="header" mat-header-cell *matHeaderCellDef>
                                User Role
                        </th>
                        <th mat-header-cell *matHeaderCellDef>User Role</th>
                        <td mat-cell *matCellDef="let user"> {{user.roles.join(", " )}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let user" class="action-link">
                                <button (click)="toggleDisplay()">Edit</button> |
                                <button *ngIf="currentUser.studentId != user.studentId"
                                        (click)="confirmDeletion(user)">Delete</button>
                        </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="setClickedRow(i)">
                </tr>


        </table>

        <p *ngIf="isShow">Choose the new role</p>
        <select [(ngModel)]="selectedRole" *ngIf="isShow">
                <option value="" disabled selected>Please Select</option>
                <option *ngFor="let r of roles" [value]="r.name">
                        {{r.viewName}}
                </option>
        </select>
        <button (click)="saveNewRole()" *ngIf="selectedRole != null">Save</button>


</div>