<!--
    author: Thomas Lien Christensen, s165242
-->

<nb-card id="statusSmileyButtonMenu" style="z-index: 999">
    <nb-card-body>
        <div class="status-menu-body">

            <p>
                Been here recently? How did you like it?
            </p>
        </div>
        <div ngClass="thumbs">
            <fa-icon [@dislike]="dislikeState" [icon]="dislikeIcon" (click)="downVote()"></fa-icon>
            <fa-icon [@like]="likeState" [icon]="likeIcon" (click)="upVote()"></fa-icon>
        </div>
    </nb-card-body>
</nb-card>