#iconRow {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 32px;
}

.angry {
    color: red;
}

.frown {
    color: orange;
}

.meh {
    color: yellow;
}

.smile {
    color: lightgreen;
}

.grin {
    color: green;
}