#iconRow {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 46px;
}

.angry {
    color: red;
}

.frown {
    color: #ce5a57
}

.meh {
    color: #FFDF45
}

.smile {
    color: lightgreen;
}

.grin {
    color: #A4D1A2
}