<!--
    author: Hamed Kadkhodaie, s083485
-->
<nb-layout center>

    <nb-layout-header center> <h2 center>DTU Profile</h2> </nb-layout-header>

    <nb-layout-column>
      
        First name:
        <br>
        {{user.firstName}}
        <p nbInput type="text" name=firstname value=""></p>

        Last name:
        <br>
        {{user.lastName}}
        <p nbInput type="text" name=lastname value=""></p>

        StudentId:
        <br>
        {{user.studentId}}
        <p nbInput type="text" name=lastname value=""></p>

        Role:
        <br>
        {{user.roles}}
        <p nbInput type="text" name=lastname value=""></p>
        <br>   
    
    </nb-layout-column>

    <nb-layout-footer>     
      <a href="http://dtu.dk" class="btn btn-default">Go to DTU</a>
    </nb-layout-footer> 

    <nb-layout-footer>
        <div>
            <button nbButton status="danger" type="button" (click)="confirmDeletion(user)">Delete my profile</button>
        </div>
    </nb-layout-footer>
  </nb-layout>



