/**
 * author: Thomas Lien Christensen, s165242
 */
 
#createSurveyForm input {
    min-height: 35px;
    font-weight: 400;
}

#createSurveyForm textarea {
    min-height: 70px;
    font-weight: 400;
}

#createSurveyForm .form-control:nth-child(n-1) {
    margin-bottom: 15px;
}

#createSurveyForm input {
    margin-bottom: 5px;
}

#addQuestionButton {
    margin-top: 30px;
    margin-bottom: 15px;
}

#createSurveyFooter {
    display: flex;
    justify-content: space-between;
}

.form-error-msg {
    color: #ff708d;
}

.form-warning-msg {
    color: #ffc94d;
}