<nb-layout>

  <nb-layout-header fixed>
    <h2 style="margin-right:30px;">DTU WebApp </h2>
    <app-login></app-login>
    <button nbButton routerLink="/">Home</button>
    <button nbButton routerLink="mazemap">Mazemap</button>
    <button nbButton routerLink="survey-management">Manage surveys</button>
  </nb-layout-header>

  <nb-layout-column>
    <app-roles-view></app-roles-view>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
