nb-layout-column {
    padding: 0 !important;
}

.header-nav-button {
    background: none !important;
    border: none !important;
    font-size:2em !important;
}

.header-nav-button fa-icon {
    color: #0B8BED;
}