<nb-layout>

  <nb-layout-header fixed>
    
    <app-login-button></app-login-button>

    <a nbButton routerLink="/mazemap" style="background:none;border:none;font-size:2em;">
      <fa-icon [icon]="faMap" style="color:#0B8BED;"></fa-icon>
    </a>
    <a nbButton routerLink="/manage-surveys" style="background:none;border:none;font-size:2em;">
      <fa-icon [icon]="faPoll" style="color:#0B8BED;"></fa-icon>
    </a>
    <a nbButton routerLink="/calendar" style="background:none;border:none;font-size:2em;">
      <fa-icon [icon]="faCalendarAlt" style="color:#0B8BED;"></fa-icon>
    </a>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
 

</nb-layout>
