/**
 * author: Thomas Lien Christensen, s165242
 */

.flex {
    display: flex !important;
    flex-flow: row nowrap !important;
    justify-content: space-between !important;
}

.flex-align-vertical {
    align-items: center !important;
}

.fullscreen {
    width: 100% !important;
    height: 85vh !important;
}

nb-action fa-icon {
    cursor: pointer;
    color: var(--actions-icon-color)
}

nb-action fa-icon:hover {
    color: var(--actions-icon-hover-color)
}

nb-actions {
    margin-bottom: 20px;
}

.active {
    background-color: var(--background-basic-color-2);
    margin-bottom: 40px;
}