#statusSmileyButton {
    background:none;
    outline: none;
    border:none;
    font-size: 50px;
}

#statusSmileyButton:focus {
    box-shadow: none;
}

#statusSmileyButton fa-icon {
    color:#5EED6D;
}

@media only screen and (min-width: 720px) {
    #statusSmileyButton {
        font-size: 2em;;
    }
}

@media only screen and (min-width: 1024px) and (min-height: 1024px) {
    #statusSmileyButton {
        font-size: 3.5em;
    }
}