#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#surveyPrompt {
    position: absolute;
    z-index: 10;
    left: 15%;
    bottom: 0%;
    width: 70%;
    padding-bottom: 0;
}

#statusSmiley {
    position: fixed;
    z-index: 9;
    right: 12%;
    bottom: 12%;
    width: 10%;
    padding-bottom: 0;
}