<!--
    author: Thomas Lien Christensen, s165242
-->

<div id='map'></div>
<app-status-button-menu id="statusMenu" [@showHideStatusMenu]="showStatusMenu ? 'show' : 'hide'" *ngIf="activateFeedbackAndStatus"></app-status-button-menu>
<app-status-button id="statusButton" (click)="toggleStatusMenu()" *ngIf="activateFeedbackAndStatus"></app-status-button>
<app-feedback-button id="surveyPrompt" [@showHideSurveyButton]="promptFeedback ? 'show' : 'hide'" *ngIf="activateFeedbackAndStatus">Give feedback</app-feedback-button>