



<nb-layout center>
    <nb-layout-header>
        <nb-search type="rotate-layout"></nb-search>
        
      </nb-layout-header>
  
    <nb-layout-column>
      
        <nb-card>
            <nb-card-body>
                <nb-accordion style="box-shadow: none;">
                    <nb-accordion-item >
                     <nb-accordion-item-header style="font-weight: normal;">
                      
                        <div class="calendarColumnContainer">
                            <div style="font-size:42px;">
                              <fa-icon [icon]="faCalendarAltReg" [className]="'calendar'"></fa-icon>
                            </div>
                            <div></div>
                            <div>
                              <div class="calendarContainer">
                                <h6>OCT 30</h6>
                                <h6>kl. 12:00</h6>
                              </div>
                            </div>
                            <div style="width:20px;"></div>
                            <div>
                              <h6 style="font-weight: normal;">Cybersecurity</h6>
                            </div>
                      </div>
                    
                    </nb-accordion-item-header>
                     <nb-accordion-item-body>
                        Jakob Thorsgård fortæller om cybersecurity og bruger hans egne erfaringer til at forklare udfordringerne fagfolk kæmper med.<br>Varighed: ca 2 timer.
                     </nb-accordion-item-body>
                    </nb-accordion-item>
                   </nb-accordion>
              </nb-card-body>
        </nb-card>
        
        
        <nb-card>
            <nb-card-body>
                <nb-accordion style="box-shadow: none;">
                    <nb-accordion-item >
                     <nb-accordion-item-header style="font-weight: normal;">
                      
                        <div class="calendarColumnContainer">
                            <div style="font-size:42px;">
                              <fa-icon [icon]="faCalendarAltReg" [className]="'calendar'"></fa-icon>
                            </div>
                            <div></div>
                            <div>
                              <div class="calendarContainer">
                                <h6>NOV 2</h6>
                                <h6>kl. 15:00</h6>
                              </div>
                            </div>
                            <div style="width:20px;"></div>
                            <div>
                              <h6 style="font-weight: normal;">Hackathon</h6>
                            </div>
                      </div>
                    
                    </nb-accordion-item-header>
                     <nb-accordion-item-body>
                        Jakob Thorsgård fortæller om cybersecurity og bruger hans egne erfaringer til at forklare udfordringerne fagfolk kæmper med.<br>Varighed: ca 2 timer.
                     </nb-accordion-item-body>
                    </nb-accordion-item>
                   </nb-accordion>
              </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <nb-accordion style="box-shadow: none;">
                    <nb-accordion-item >
                     <nb-accordion-item-header style="font-weight: normal;">
                      
                        <div class="calendarColumnContainer">
                            <div style="font-size:42px;">
                              <fa-icon [icon]="faCalendarAltReg" [className]="'calendar'"></fa-icon>
                            </div>
                            <div></div>
                            <div>
                              <div class="calendarContainer">
                                <h6>NOV 11</h6>
                                <h6>kl. 17:00</h6>
                              </div>
                            </div>
                            <div style="width:20px;"></div>
                            <div>
                              <h6 style="font-weight: normal;">Ai og Machine <br> Learning</h6>
                            </div>
                      </div>
                    
                    </nb-accordion-item-header>
                     <nb-accordion-item-body>
                        Jakob Thorsgård fortæller om cybersecurity og bruger hans egne erfaringer til at forklare udfordringerne fagfolk kæmper med.<br>Varighed: ca 2 timer.
                     </nb-accordion-item-body>
                    </nb-accordion-item>
                   </nb-accordion>
              </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <nb-accordion style="box-shadow: none;">
                    <nb-accordion-item >
                     <nb-accordion-item-header style="font-weight: normal;">
                      
                        <div class="calendarColumnContainer">
                            <div style="font-size:42px;">
                              <fa-icon [icon]="faCalendarAltReg" [className]="'calendar'"></fa-icon>
                            </div>
                            <div></div>
                            <div>
                              <div class="calendarContainer">
                                <h6>NOV 23</h6>
                                <h6>kl. 17:00</h6>
                              </div>
                            </div>
                            <div style="width:20px;"></div>
                            <div>
                              <h6 style="font-weight: normal;">Algorithms Expert</h6>
                            </div>
                      </div>
                    
                    </nb-accordion-item-header>
                     <nb-accordion-item-body>
                        Jakob Thorsgård fortæller om cybersecurity og bruger hans egne erfaringer til at forklare udfordringerne fagfolk kæmper med.<br>Varighed: ca 2 timer.
                     </nb-accordion-item-body>
                    </nb-accordion-item>
                   </nb-accordion>
              </nb-card-body>
        </nb-card>


    </nb-layout-column>
  

  </nb-layout>
          
    
 

