 
 <nb-card id="feedbackDialog">
   
   <nb-card-header>
     Feedback
     <button type="button" style="float: right;" class="close" aria-label="Close" (click) = "close()" >
        <span aria-hidden="true">&times;</span>
      </button>
   </nb-card-header>

  <nb-card-body>

      <div *ngFor = "let survey of surveys$ | async">
          <p *ngFor = "let surveyAnswer of survey.SurveyAnswers">
             {{ surveyAnswer.comment }}
          </p>
      </div>

    
  </nb-card-body>    
  
<nb-card-footer>

        <button type="button" class="btn btn-outline-dark" (click) = "close()" >Close</button>
    
</nb-card-footer>
 </nb-card>
