<div class="searchBar">
    <nb-search type="rotate-layout"></nb-search>
</div>
<button *ngIf="userIsAdmin$ | async" nbButton (click)="openCreateEventDialog()">Create event</button>
<nb-card *ngFor="let event of events$ | async" class="eventCard">
    <nb-card-body>
        <nb-accordion>
            <nb-accordion-item>
                <nb-accordion-item-header>
                    <table class="eventInfoTable">
                        <tr>
                            <th>
                                <fa-icon [icon]="faCalendarAltReg" [className]="'calendar'"></fa-icon>
                            </th>
                            <th>
                                <h6>{{ moment(event.date).format('DD MMM') }} </h6>
                                <h6>kl. {{ moment(event.date).format('HH:mm') }}</h6>
                            </th>
                            <th>
                                <h6 style="font-weight: normal;">{{ event.title }}</h6>
                                <div *ngIf="event.speakers" style="font-weight: normal">
                                    Speakers: {{ fitToLength(25, event.speakers) }}
                                </div>
                            </th>
                        </tr>
                    </table>
                </nb-accordion-item-header>.substr(5,5).replace('-','/')
                <nb-accordion-item-body>
                    <nb-actions>
                        <nb-action *ngIf="userIsAdmin$ | async" (click)="openEditEventDialog(event)" class="action"><fa-icon [icon]="faEdit"></fa-icon></nb-action>
                    </nb-actions>
                    <table>
                        <tr>
                            {{ event.description }}
                        </tr>
                        <tr>
                            Varighed: ca {{ event.durationInHours }} timer.
                        </tr>
                    </table>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
</nb-card>