




    <div class="searchBar">
     <nb-search type="rotate-layout"></nb-search>
    </div>
      
        
     
  
   
      
        <nb-card class="eventCard">
            <nb-card-body>
                <nb-accordion>
                    <nb-accordion-item >
                     <nb-accordion-item-header>
                          <table class="eventInfoTable">
                            <tr>
                              <th>
                                <fa-icon [icon]="faCalendarAltReg" [className]="'calendar'"></fa-icon>  
                              </th>
                              <th>
                                  <h6>OCT 30</h6>
                                  <h6>kl. 12:00</h6>
                              </th>
                              <th >
                                  <h6 style="font-weight: normal;">Hackathon i hovedbygningen med netcompany</h6>
                              </th>
                            </tr>
                          </table>
                    </nb-accordion-item-header>
                     <nb-accordion-item-body>
                       <table>
                        <tr>
                          Jakob Thorsgård fortæller om cybersecurity og bruger hans egne erfaringer til at forklare udfordringerne fagfolk kæmper med.
                        </tr>
                        <tr>
                          Varighed: ca 2 timer.
                        </tr>
                        </table>
                     </nb-accordion-item-body>
                    </nb-accordion-item>
                   </nb-accordion>
              </nb-card-body>
        </nb-card>
