.searchBar {
    width:100%;
    background:white;
    height:2.8em;
    margin-bottom:1.5em;
    border-radius:1.5em;
}

.eventInfoTable {
    width: 100%;

}

.eventInfoTable th {
    vertical-align: top;
}

.eventInfoTable h6 {
    margin:0;
    padding: 0;
}

.eventInfoTable fa-icon {
    font-size: 2.8em;
}


.eventInfoTable th:nth-child(1) {
    width: 3em;
}

.eventInfoTable th:nth-child(2) {
    width: 6em;
}

.eventCard {
    padding:0;
    max-width:35em;
    margin: auto;
    margin-bottom:1.2em;
}

.eventCard nb-card-body {
    padding:0;
}

.eventCard nb-accordion {
    box-shadow: none;
}

nb-actions {
    justify-content: flex-end;
}

.action {
    cursor: pointer;
}

.action fa-icon {
    font-size: 18px;
    transition: ease-in-out 100ms;
}


.action fa-icon:hover {
    font-size: 20px;
}

.extra-event-info {
    display: flex; 
    justify-content: flex-start;
}

.extra-event-info div {
    margin-right: 15px;
}