<!-- <div fullWidth [@openClose]="isExpanded ? 'open' : 'closed'"> -->
<div>
    <div id="expandedFeedbackContainer" [@openClose]="isExpanded ? 'open' : 'closed' ">
        <nb-card>
            <nb-card-body>
                <div>
                    <p>
                        Been here recently? How did you like it?
                    </p>

                    <div ngClass="thumbs">
                        <fa-icon *ngIf="!downVoted" [icon]="thumbsDown" [className]="'thumb'" (click)="downVote()"></fa-icon>
                        <fa-icon *ngIf="downVoted" [icon]="thumbsDownPressed" [className]="'thumb'" (click)="downVote()"></fa-icon>
                        <fa-icon *ngIf="!upVoted" [icon]="thumbsUp" [className]="'thumb'" (click)="upVote()"></fa-icon>
                        <fa-icon *ngIf="upVoted" [icon]="thumbsUpPressed" [className]="'thumb'" (click)="upVote()"></fa-icon>
                    </div>
                </div>
                <div ngClass="vl"></div>
                <div>
                    <p>
                        Take a quick survey
                    </p>

                    <button id="takeSurveyButton" nbButton status="info" (click)="openDialog()">Sweet</button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <button id="toggleButton" nbButton fullwidth (click)="toggleExpanded()">Give feedback</button>
</div>
    